.Producto{
    background-color: #e5e5e5;
    display: inline-flex;
    margin-right: 25px;
    width: 350px;
    height: 150px;
    flex-direction: column;
    border-radius: 6px;
    align-items: center;
    align-content: center;
}

.Lista{
   display: block;
   align-items: center;

}