@font-face {
    font-family: Pilcrow marca;
    src: url(PilcrowRounded-Bold.otf);
}

a {
    font-family: Pilcrow marca;
    margin-left: 15px;
    text-align: center;
    margin-top: 15px;
}

@font-face {
    font-family: General titulo;
    src: url(GeneralSans-Semibold.otf);
}

h2 {
    font-family: General titulo;
    text-align: center;
    margin-top: 15px;
}